.project-page-container {
  height: 100%;
  padding: 25px;

  .container {
    max-width: 1600px;
    margin: 0 auto;
  }

  .section-title {
    margin-top: 0px;
    margin-bottom: 16px;
    font-size: 20px;
    font-weight: 500;
    color: var(--primary);
  }
}
