.scope-page-container {
    width: 100%;
    height: 100%;

    .inner-app-wrap {
        display: flex;
        height: 100%;
    }

    .inner-app-row {
        width: 100%;
        margin: 0 !important;
        flex-wrap: nowrap;
        display: flex;
        margin: 0;
    }

    .scope-sidebar {
        width: 253px;
        flex-shrink: 0;
    }

    .content {
        flex: 1;
        padding: 25px !important;
        height: calc(100vh - 56px);
        overflow: auto;
        min-width: 0;
        max-width: 100%;
        transition: flex 0.4s cubic-bezier(0.4, 0, 0.2, 1),
            margin-right 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    }

    .date-wrap {
        display: flex;
        align-items: center;
        gap: 8px;
        font-family: var(--primary-font);
        font-size: 12px;
        font-weight: 400;
        color: #587564;

        .erm-icon {
            color: #5A7665;
            width: 15px;
            height: 15px;

        }
    }

    //collaborators style

    .collaborators-wrapper {
        display: flex;
        align-items: center;

        .no-collaborators {
            font-size: 11px;
            font-weight: 600;
            color: var(--text-muted-green);
            opacity: 0.52;
            font-style: italic;
        }

        .ant-avatar {
            width: 24px;
            height: 24px;
            border: solid 2px var(--white);
            position: relative;

            .ant-avatar-string {
                line-height: 22px;
                color: var(--primary);
                font-size: 12px;
                font-weight: 600;
            }

            &+.ant-avatar {
                margin-left: -8px;
            }
        }

        .collaborators-plus-more {
            min-width: 24px;
            height: 24px;
            margin-left: -8px;
            border-radius: 50%;
            border: solid 2px var(--white);
            background: #d3dfd4;
            color: var(--primary);
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 11px;
            font-weight: 500;
            z-index: 9;
            position: relative;
            cursor: pointer;

            .erm-icon {
                width: 13px;
                height: 13px;
                color: var(--primary);
            }

            &:hover {
                background: #b8c7be;
            }
        }
    }

    .filter-bar {
        display: flex;
        gap: 12px;
        margin: 0 0 18px;
        align-items: center;
        justify-content: space-between;

        .primary-btn {
            height: 40px;
        }

        .dropdown-ui {
            width: 178px;
            padding-left: 60px !important;
            position: relative;

            &::before {
                content: "Status:";
                font-size: var(--overall-paragraph-size);
                font-weight: 500;
                line-height: 26px;
                color: #5A7665;
                position: absolute;
                left: 10px;
                top: 5px;
            }
        }

        .filter-left {
            display: flex;
            gap: 15px;
            align-items: center;
        }

        .quick-search {
            height: 40px;
            font-size: 14px;
            width: 240px;

            .erm-icon[class*="search-icon"] {
                width: 20px;
                height: 20px;
            }
        }

        .status-trigger {
            width: 96px;
            height: 40px;
            gap: 8px;
            color: var(--primary);
            font-size: var(--overall-paragraph-size);
            font-weight: 500;

            .erm-icon {
                color: var(--primary);
                width: 16px;
                height: 16px;
            }
        }
    }

    .create-btn {
        margin-left: auto;
        background: #00e6a1;
        border: none;
    }


    .status-icon {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: #FFEBC98C;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .received-tab {
        .status-icon {
            background: #EDEFEE;
        }
    }

    .reviewed-tab {
        .status-icon {
            background: #DEF5DF;
        }
    }

    .request-id {
        font-weight: 500;
        color: var(--primary);
        opacity: 0.65;
        font-size: calc(var(--overall-paragraph-size) - 2px);
        margin: 0 0 13px;
        position: relative;
    }

    .request-desc {
        font-weight: 400;
        color: var(--primary);
        font-size: calc(var(--overall-paragraph-size) - 2px);
        margin: 0 0 19px;
    }

    .request-meta {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: var(--primary-font);
        font-size: 12px;
        font-weight: 400;
        color: #587564;

        .request-meta-left {
            display: flex;
            gap: 25px;
            align-items: center;
        }

        .progress-text {
            font-size: 12px;
        }

        .progress-bar .ant-progress-track {
            background: #019A20;
        }

    }

    .user-detail {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
    }

    .user-image-span {
        width: 18px;
        height: 18px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            aspect-ratio: 1/1;
        }
    }

    .more-icon {
        font-size: 18px;
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 0;
    }
    //tabs override
    .ant-tabs {
        margin-top: 25px;

        .ant-tabs-tab {
            padding: 0 0 7px 0 !important;
            font-size: var(--overall-paragraph-size);
            font-weight: 500;
            line-height: 20px;
            color: rgba(1, 44, 18, 0.65);

            &:hover,
            &.ant-tabs-tab-active {
                color: var(--primary);
            }
        }

        .ant-tabs-nav::before {
            border-color: var(--border-color);
        }

        .ant-tabs-ink-bar {
            background-color: var(--primary-green);
            height: 1.5px;
        }
    }

    .orange-dot {
        width: 5px;
        aspect-ratio: 1/1;
        background: #FE3600;
        border-radius: 100%;
        display: inline-block;
        vertical-align: top;
        margin-top: 7px;
        margin-right: -5px;
    }

    .request-list {

        .request-card {
            margin-bottom: 20px;
            border-radius: 10px;
            border-radius: 11px;
            border-color: var(--border-color);

            .ant-card-body {
                padding: 25px 20px;
                border-radius: 0;
                border: none;
            }
        }

    }
}