.scope-header-wrapper {
    .page-heading {
        margin: 0 0 5px;
        font-size: 25px;
        font-weight: 500;
        color: var(--primary);
        line-height: 1;
        font-family: var(--primary-font);
    }

    .scope-page-header {
        border-bottom: solid 1px var(--border-color);
        padding: 0 25px 16px;
        margin: 0 -25px;

        p {
            font-family: var(--primary-font);
            font-size: var(--overall-paragraph-size);
            font-weight: 500;
            color: var(--primary);
            line-height: 20px;
            margin: 0;
            opacity: 0.65;
        }
    }

    .meta-row {
        display: flex;
        gap: 20px;
        margin-top: 30px;
        align-items: center;
        justify-content: space-between;

        .meta-row-left {
            display: flex;
            align-items: center;
            gap: 25px;
        }



        .progress {
            width: 200px;
        }
    }

    .orange-text {
        color: var(--orange);
    }

    .scope-actions {
        .ant-btn-text {
            &.active {
                background: rgba(1, 154, 32, 0.1);
                border-radius: 4px;
            }
        }

        .primary-btn {
            &.active {
                opacity: 0.9;
                box-shadow: 0 2px 4px rgba(1, 154, 32, 0.3);
            }
        }
    }
}