.add-scope-drawer {
    .ant-drawer-header-title {
        align-items: self-start;
        flex-direction: row-reverse;
    }

    .ant-drawer-close {
        background: transparent !important;
        padding: 0;
        margin: 0 !important;
    }

    .ant-drawer-body {
        padding: 25px 30px;
    }

    .ant-drawer-header {
        border-color: var(--border-color);
        padding: 25px 30px;

        .drawer-title {
            color: var(--primary);
            font-size: 20px;
            font-weight: 600;
            margin: 0 0 8px;
        }

        .drawer-subtitle {
            margin: 0;
            color: #587564;
            font-size: 14px;
            font-weight: 400;
        }
    }

    .drawer-subtitle {
        color: #7a7a7a;
        margin-bottom: 16px;
    }

    .form-group {
        margin-bottom: 24px;
        gap: 0;

        &.mb-0 {
            margin-bottom: 0px;
        }

        label {
            display: block;
            margin-bottom: 8px;
            font-weight: 500;
            font-size: var(--overall-paragraph-size);
            color: var(--primary);
        }

        .required {
            color: red;
        }

        small {
            color: #8a8a8a;
        }
    }

    .risk-level-group {
        display: flex;
        gap: 12px;

        .risk-btn {
            flex: 1;
            border-radius: 8px;
            font-size: 13px;
            font-weight: 500;
            color: var(--primary);
            height: 40px;
            text-align: center;

            .risk-icon {
                width: 12px;
                height: 12px;
                border-radius: 50%;
                display: inline-block;
            }

            &.low {
                .risk-icon {
                    background: #019A20;
                }
            }

            &.medium {
                .risk-icon {
                    background: #F59F0B
                }

                &.active {
                    border-color: var(--primary-green);
                    background: #019A2014;
                }
            }

            &.high {
                .risk-icon {
                    background: #FD582D;
                }
            }
        }
    }

    .drawer-footer {
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }

    .input-field {
        border: 1px solid var(--input-border);
        border-radius: 8px;
        padding: 8px 16px;
        font-size: var(--overall-paragraph-size);
        font-weight: 400;
        color: var(--primary);
        background: var(--white);

        &:focus {
            border-color: var(--primary-green);
            box-shadow: none;
        }

        &.select-field {
            background: var(--white);
            outline: none !important;
            box-shadow: none !important;

            &:focus {
                border-color: var(--primary-green);
                box-shadow: none;
                outline: none;
            }
        }
    }

    .info-text {
        font-size: 12px;
        color: #587564;
        font-weight: 400;
        margin-top: 8px;
    }

    .scope-preview {
        border: 1px solid var(--input-border);
        background: #EEF1F24D;
        border-radius: 11px;
        padding: 18px 20px;

        .preview-title {
            font-size: 16px;
            font-weight: 500;
            color: var(--primary);
            margin: 0px 0px 12px 0;
        }

        .preview-progress {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
            font-size: 12px;
            font-weight: 400;
            color: var(--primary);
        }

        .progress-count {
            font-size: 13px;
            color: #587564;
            font-weight: 500;
        }
    }
}