.erm-icon {
  mask-size: contain;
  mask-position: 50% 50%;
  mask-repeat: no-repeat;
  background: currentColor;
  width: 1em;
  height: 1em;
  display: block;

  // custom icons
  &[class*="toggle"] {
    mask-image: url(/assets/icons/toggle.svg);
  }

  &[class*="filter-icon"] {
    mask-image: url(/assets/icons/filter-icon.svg);
    width: 14px;
    height: 14px;
    color: #53705E;
  }

  &[class*="search-icon"] {
    mask-image: url(/assets/icons/search-icon.svg);
    width: 16px;
    height: 16px;
    color: var(--primary);
  }

  &[class*="plus-icon"] {
    mask-image: url(/assets/icons/plus-icon.svg);
    width: 18px;
    height: 18px;
  }

  &[class*="calendar-icon"] {
    mask-image: url(/assets/icons/calendar-icon.svg);
    width: 15px;
    height: 15px;
    color: #5A7665;
  }

  &[class*="dropdown-arrow-icon"] {
    mask-image: url(/assets/icons/dropdown-arrow-icon.svg);
    width: 10px;
    height: 10px;
    color: var(--primary);
  }

  &[class*="dropdown-top-arrow-icon"] {
    mask-image: url(/assets/icons/dropdown-top-arrow-icon.svg);
    width: 10px;
    height: 10px;
    color: var(--primary);
  }

  &[class*="ai-icon"] {
    mask-image: url(/assets/icons/ai-icon.svg);
    width: 12px;
    height: 14px;
    color: var(--primary);
  }

  &[class*="time-icon"] {
    mask-image: url(/assets/icons/time-icon.svg);
    width: 28px;
    height: 28px;
    color: #F49A00;
  }

  &[class*="doc-icon"] {
    mask-image: url(/assets/icons/doc-icon.svg);
    width: 28px;
    height: 28px;
    color: #246027;
  }

  &[class*="check-icon"] {
    mask-image: url(/assets/icons/check-icon.svg);
    width: 28px;
    height: 28px;
    color: var(--primary-green);
  }

  &[class*="file-icon"] {
    mask-image: url(/assets/icons/file-icon.svg);
    width: 15px;
    height: 15px;
    color: #5A7665;
  }

  &[class*="more-icon"] {
    mask-image: url(/assets/icons/more-icon.svg);
    width: 22px;
    height: 22px;
    color: #809689;
  }

  &[class*="close-icon"] {
    mask-image: url(/assets/icons/close-icon.svg);
    width: 20px;
    height: 20px;
    color: #587564;
  }

  &[class*="zoom-plus-icon"] {
    mask-image: url(/assets/icons/zoom-plus-icon.svg);
    width: 16px;
    height: 16px;
    color: var(--primary);
  }

  &[class*="zoom-minus-icon"] {
    mask-image: url(/assets/icons/zoom-minus-icon.svg);
    width: 16px;
    height: 16px;
    color: var(--primary);
  }

  &[class*="expend-icon"] {
    mask-image: url(/assets/icons/expend-icon.svg);
    width: 16px;
    height: 16px;
    color: var(--primary);
  }
}